// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mkp_input_listener { input-processors = <&zip_temp_layer 1 500>; };

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <3>;
        };

        mo_BTlayer {
            bindings = <&mo 6>;
            key-positions = <42 43>;
        };

        cmb_back_space {
            bindings = <&kp BACKSPACE>;
            key-positions = <12 13>;
        };

        cmb_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };
    };

    macros {
        maru_kakko: maru_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N8) &kp LS(N9) &kp LEFT>;
            label = "MARU_KAKKO";
        };

        kaku_kakko: kaku_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET &kp BACKSLASH &kp LEFT>;
            label = "KAKU_KAKKO";
        };

        yama_kakko: yama_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT_ARROW>;
            label = "YAMA_KAKKO";
        };
    };

    behaviors {
        hrm_r_2: hrm_r_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R_2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 3 10 11 12 13 14 20 21 22 23 24 25 32 33 34 35 36 37>;
        };

        hrm_r: hrm_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 12 13 14 24 25 10 11 20 21 22 23 32 33 34 35 36 37>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        hrm_l_2: hrm_l_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L_2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-while-undecided;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 38 39 40 41 42 43>;
        };

        hrm_l: hrm_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 38 39 40 41 42 43>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none              &none                &none                  &none                    &none                                             &none        &none                     &none                   &none                 &none                  &none
&none  &kp Q              &kp W                &kp E                  &kp R                    &kp T                                             &kp Y        &kp U                     &kp I                   &kp O                 &lt 8 P                &none
&none  &hrm_l LEFT_WIN A  &hrm_l_2 LEFT_ALT S  &hrm_l_2 LEFT_SHIFT D  &hrm_l_2 LEFT_CONTROL F  &kp G        &none             &none              &kp H        &hrm_r_2 RIGHT_CONTROL J  &hrm_r_2 RIGHT_SHIFT K  &hrm_r_2 RIGHT_ALT L  &hrm_r LEFT_WIN MINUS  &none
&none  &kp Z              &kp X                &kp C                  &kp V                    &kp B        &kp LS(CAPSLOCK)  &kp JP_UNDERSCORE  &kp N        &kp M                     &kp COMMA               &kp DOT               &lt 9 FSLH             &none
&none  &kp LCTRL          &kp LGUI             &kp LALT               &lt 4 INT_MUHENKAN       &lt 2 SPACE  &lt 3 INT_HENKAN  &kp BACKSPACE      &lt 5 ENTER  &none                     &none                   &kp RCTRL             &kp RSHIFT             &none
            >;
        };

        mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RC(C)  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RC(V)  &mkp MB4   &trans     &mkp MB5   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans     &trans  &trans
            >;
        };

        NUMpad_layer {
            bindings = <
&trans  &trans           &trans           &trans           &trans           &trans                                      &trans  &trans    &trans     &trans   &trans  &trans
&trans  &kp BACKSPACE    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_ASTERISK                             &trans  &trans    &kp PG_UP  &trans   &trans  &trans
&trans  &kp KP_SLASH     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS     &trans   &trans            &trans  &kp HOME  &kp PG_DN  &kp END  &trans  &trans
&trans  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_PLUS      &kp TAB  &kp RS(CAPSLOCK)  &kp N6  &kp N7    &kp N8     &kp N9   &kp N0  &trans
&trans  &kp KP_DOT       &kp KP_DOT       &kp LS(MINUS)    &trans           &trans           &trans   &kp DELETE        &trans  &trans    &trans     &trans   &trans  &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans  &trans            &trans      &trans      &trans      &trans                      &trans       &trans             &trans         &trans            &trans         &trans
&trans  &kp LS(NUMBER_1)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N5)                  &kaku_kakko  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp AMPERSAND     &kp AT         &trans
&trans  &kp LEFT_BRACKET  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp N5      &trans  &trans  &maru_kakko  &kp LS(N8)         &kp LS(N9)     &kp SINGLE_QUOTE  &kp SEMICOLON  &trans
&trans  &kp N6            &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp N0      &trans  &trans  &kaku_kakko  &kp RIGHT_BRACE    &kp PIPE       &kp LS(N1)        &kp LS(SLASH)  &trans
&trans  &trans            &trans      &trans      &trans      &trans      &trans  &trans  &kp TAB      &trans             &trans         &trans            &trans         &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans   &trans   &trans        &trans        &trans                      &trans            &trans     &trans         &trans     &trans      &trans
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp HOME          &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp ESCAPE  &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10     &trans  &trans  &kp LEFT          &kp DOWN   &kp UP_ARROW   &kp RIGHT  &kp TAB     &trans
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT    &kp GRAVE      &kp TILDE  &kp PIPE    &trans
&trans  &trans   &trans   &trans        &trans        &trans      &trans  &trans  &trans            &trans     &trans         &trans     &trans      &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans   &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans     &trans  &trans
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans                  &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        scroll_layer {
            bindings = <
&trans  &trans           &trans           &trans           &trans           &trans                                     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp TAB          &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_ASTERISK                            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp KP_SLASH     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS     &trans        &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_PLUS      &kp KP_EQUAL  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp KP_DOT       &trans           &trans           &trans           &trans           &trans        &kp DELETE  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        slow_mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RC(C)  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RC(V)  &mkp MB4   &trans     &mkp MB5   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans     &trans  &trans
            >;
        };
    };
};
